@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    opacity: 0;
    transition: opacity 1s;
    background-color: var(--dark-theme);
}

.pt {
    display: block;
}

.eng {
    display: none;
}

:root {
    --dark-blue: #213fe1;
    --light-blue: #9ecefd;
    --dark-pink: #fe8ffe;
    --light-pink: #ffe1fd ;
    --white: #fefcf7;
    --text-color: #333;
    --grey: #D3D3D3;
    --dark-theme: #151515;
}

.container{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-image:url('../images/Background.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    background-position: left center;
    color: black;
    width: 100%;
    min-height: 100vh;
    position: relative;
}

/* ICONS */

.icons-container{
    padding: 1rem 1rem 1rem 1rem;
    display: flex;
    flex-wrap: wrap;
    width: 16rem;
    height: auto;
}

.icons-container button{
    background-color: transparent;
    border: none;
}

.icon {
    position: relative; 
    display: inline-block;
    flex-direction: column;
    width: 7rem;
    height: auto;
    justify-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.icon h4{
    color: var(--white);
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;margin: 0.3rem 0 0 0; /* Ensures the text is close to the image */
    font-size: 0.9rem;
}

.linkedin{
    text-decoration: none;
}

.icon img {
    width: auto;
    height: 7rem;
}

.icon:hover {
    transform: scale(1.05); 
    cursor: pointer;
}


.icon:hover::after {
    content: '';
    position: absolute;
    border-radius: 1rem;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--light-blue);
    opacity: 0;
    pointer-events: none;
}

.icon:hover::after {
    opacity: 0.5;
}

/* TABS NAVBARS*/
.work-tab, .resume-tab, .linkedin-tab, .links-tab, .github-tab, .skills-tab, .behance-tab, .email-tab, .projects-tab, .youtube-tab, .foto-tab, .threed-tab, .games-tab, .note-tab, .note-tab2, .note-tab3, .jr-tab, .note-tab4{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: var(--white);
    border: 0.2rem solid var(--dark-pink);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 0.5rem;
}

.tab-navbar{
    width: 100%;
    height: auto;
    background-color: var(--dark-pink);
    color: var(--dark-pink);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
}

.tab-icon{
    display: flex; 
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: 0.35rem;
}

.tab-icon h4{
    color: var(--white);
}

.tab-icon img{
    width: auto;
    height: 3rem;
    margin-left: 1rem; 
}

.button-exit{
    display: flex; 
    align-items: center;
    justify-content: flex-end;
    margin-right: 1rem; 
    width: 100%; 
}

.button-exit button {
    background-color: transparent;
    border: none;
    font-size: 0.6rem;
    color: var(--white);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.button-exit button:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.tab-content{
    padding: 1rem;
    background-color: var(--dark-theme);
    color: var(--white);
}

.tab-content-resume{
    padding: 0;
    height: auto;
}

.tab-content-resume-object{
    width: 100%;
    height: auto;
}

/* NAVBAR */

.nav-bar {
    width: 100%;
    height: 4.5rem;
    background-color: var(--dark-blue);
    color: var(--dark-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    position: fixed;
    bottom: 0;
    z-index: 1000;
}

.windows-button {
    display: flex; 
    align-items: center;
    justify-content: flex-start;
    width: 100%; 
}

.windows-button img {
    width: auto;
    height: 4rem;
    margin-left: 2rem; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.windows-button img:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.language {
    display: flex; 
    align-items: center;
    justify-content: flex-end;
    margin-right: 2rem; 
    width: 100%; 
}

.language button {
    background-color: transparent;
    border: none;
    color: var(--white);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.language button:hover{
    transform: scale(1.2);
    cursor: pointer;
}

/* GITHUB*/

.github-repos-container {
    max-width: 35rem;
    background-color: transparent;
    border-radius: 1rem;
    overflow: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 .5rem 0 .5rem;
}

.github-repos-container ul {
    list-style-type: none;
    padding: 0;
}
  
.github-repos-container ul li {
    margin: 0.7rem 0;
    padding: 0.7rem;
    background-color: var(--dark-theme);
    border: 1px solid var(--white);
    border-radius: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
  
.github-repos-container ul li:hover {
    background-color: black;
    transform: scale(1.01); 
    z-index: 100;
}
  
.repo-link {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: var(--text-color);
}
  
.repo-name {
    font-size: 1rem;
    font-weight: bold;
    color: var(--white);
}
  
.repo-description {
    font-size: 0.9rem;
    color: var(--white);
    margin-top: 5px;
}

.tab-content-github{
    background-color: var(--dark-theme);
    display: flex;
    flex-direction: row;
    padding: 1rem;
    gap: 1rem;
}

.data-github{
    margin: 0.7rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.data-github-part {
    height: auto;
    width: 30rem;
}

/* BEHANCE*/

.behance-tab{
    background-color: var(--dark-theme);
}

.behance-page{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem;
    overflow: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    height: 35rem;
    gap: 1.5rem;
}

.behance-work{
    width: 24rem;
    height: 20rem;
}

::-webkit-scrollbar {
    width: 10px;}
  
::-webkit-scrollbar-track {
    background: black;
}
  
::-webkit-scrollbar-thumb {
    background: var(--light-pink);
    border-radius: 5px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: var(--dark-pink);
}

/* INSTAGRAM */

.tab-content-instagram{
    padding: 2rem 4rem 2rem 4rem;
    background-color: var(--dark-theme);
    color: var(--white);
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.link-gap{
    display: flex;
    gap: 1rem;
}

.tab-content-instagram a{
    text-decoration: none;
    color: var(--white);
    font-size: 1.3rem;
}

.tab-content-instagram i{
    font-size: 1.7rem;
}

/*WORK EXPERIENCE*/
.work-div{
    padding: 2rem;
    width: auto;
    border-radius: 1rem;
    border: var(--light-pink) solid;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.work-div:hover{
    background-color: black;
    transform: scale(1.02);
    cursor: pointer;
}

.work-img{
    width: 100%;
    height: auto;
    border-radius: 1rem;
}

.work-div h1{
    color: var(--light-pink);
}

.work-div p, b, h3{
    color: var(--white);
}

.work-div li{
    color: var(--white);
    padding: 0.4rem;
}

.work-div h3{
    font-style: italic;
}
.work-div span{
    font-size: 12px;
    font-style: italic;
    color: var(--light-pink);
}

.tab-content-work{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 2rem 1rem 2rem 1rem;
    gap: 2rem;
    background-color: var(--dark-theme);
}

/* SKILLS */
.tab-content-skills{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    background-color: var(--dark-theme);
    color: var(--white);
    font-weight: 500;
}

.tab-content-skills-align{
    display: flex;
    flex-direction: column;
}

.skills{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.skills-bar{
    width: 10rem;
    height: 1rem;
    padding: 0.2rem;
    background-color: var(--white);
    border-radius: 1rem;
    margin-left: auto;
}

.skills-bar-inside{
    height: 100%;
    border-radius: 1rem;
    background-color: var(--dark-pink);
    display: flex;
    align-items: center;
    font-weight: 200;
    padding: 0 0 0 0.5rem;
    font-size: 12px;
}

.skills-bar-inside.illustrator{
    width: 80%;
}

.skills-bar-inside.photoshop{
    width: 65%;
}

.skills-bar-inside.after{
    width: 70%;
}

.skills-bar-inside.premiere{
    width: 45%;
}

.skills-bar-inside.inDesign{
    width: 65%;
}

.skills-bar-inside.figma{
    width: 80%;
}

.skills-bar-inside.html{
    width: 85%;
}

.skills-bar-inside.css{
    width: 65%;
}

.skills-bar-inside.javascript{
    width: 30%;
}

/* RESUME */

.tab-content-resume{
    background-color: var(--dark-theme);
    padding: 1rem 1rem 2rem 2rem;
    height: auto;
    color: var(--white);
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    align-items: flex-start;
}

.tab-content-resume p{
    font-size: 17px;
}

.tab-content-resume a{
    text-decoration: none;
    color: var(--dark-theme);
    font-weight: 600;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tab-content-resume a:hover{
    transform: scale(1.01);
}

.a-button{
    display: flex;
    height: auto;
    width: 5.5rem;
    background-color: var(--light-pink);
    padding: 0.5rem;
    border-radius: 1rem;
}

/* CONTACT */

.tab-content-contact {
    background-color: var(--dark-theme);
    color: white;
    padding: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    max-width: 30rem;
    margin: auto;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-width: 25rem;
}

form input,
form textarea {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    border: 1px solid var(--light-gray);
    border-radius: 0.5rem;
    padding: 0.7rem;
    background: rgba(255, 255, 255, 0.1);
    color: white;
    outline: none;
    transition: 0.3s ease-in-out;
}

form input::placeholder,
form textarea::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

form input:focus,
form textarea:focus {
    border-color: var(--dark-pink);
    background: rgba(255, 255, 255, 0.15);
}

form textarea {
    resize: none;
    min-height: 120px;
}

form button {
    width: 107%;
    font-size: 16px;
    border-radius: 0.5rem;
    padding: 0.7rem;
    background-color: var(--dark-pink);
    font-weight: 600;
    color: var(--white);
    border: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

form button:hover {
    background-color: var(--light-pink);
}

.confirmation{
    display: none;
    position: absolute;
    padding: 0.2rem 2rem 1rem 2rem;
    top: 50%;
    left: 50%;
    width: 15rem;
    transform: translate(-50%, -50%);
    z-index: 100;
    background-color: var(--dark-theme);
    border: 0.2rem solid var(--dark-pink);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 0.5rem;
}

.cancel-button{
    background-color: var(--dark-pink);
}

.conf-buttons{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}


/*PROJECT EXPERIENCE*/
.project-div{
    position: relative;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 1rem 0.5rem 1rem;
    width: auto;
    border-radius: 1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tab-content-projects button{
    border: none;
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
}

.project-div img{
    margin: 0;
    width: 8rem;
    height: auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-div:hover {
    transform: scale(1.05); 
    cursor: pointer;
}


.project-div::after {
    content: '';
    position: absolute;
    border-radius: 1rem;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--light-blue);
    opacity: 0;
    pointer-events: none;
}

.project-div:hover::after {
    opacity: 0.5;
}

.project-div h4{
    color: white;
    font-weight: 500;
}

.tab-content-projects{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    overflow-y: auto;
    overflow-x: hidden;
    height: 25rem;
    padding: 2rem 4rem;
    background-color: var(--dark-theme);
}

/* NOTES */

.tab-content-note{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    overflow-y: auto;
    overflow-x: hidden;
    height: auto;
    padding: 2rem 4rem;
    background-color: var(--dark-theme);
}

.tab-content-note p{
    color: var(--white);
}

/* 3D */

.modal {
    display: none; 
    position: fixed;
    z-index: 1000;
    padding-top: 3.5rem;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.9);
  }
  
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  .modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }


/* RESPONSIVE */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) and (orientation: portrait){
    
    p{
        font-size: 10px;
    }

    .work-tab, .resume-tab, .linkedin-tab, .links-tab, .github-tab, .skills-tab, .behance-tab, .email-tab, .projects-tab, .note-tab, .note-tab2, .note-tab3, .jr-tab, .showNote4{
        width: 10rem;
        height: 30rem;
    }

    .tab-content-work{
        height: 20rem;
    }

    .tab-content-object{
        height: 30rem;
    }

    h1{
        font-size: 23px;
    }
    
    p, b, li, ul {
        font-size: 14px;
    }

    h3{
        font-size: 16px;
    }

    .icons-container{
        width: 26rem;
    }
    

    .modal{
        padding-top: 10rem;
    }


    .modal-content {
        width: 100%;
    }

    .github-repos-container {
        overflow: hidden;
    }

    .tab-content-github{
        flex-direction: column;
        overflow: hidden;
        overflow-y: auto;
        overflow-x: hidden;
        height: 30rem;
    }
    
    .data-github{
        margin: 0.7rem 0;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }
    
    .data-github-part {
        height: auto;
        width: 12rem;
    }
}


@media only screen and (max-width: 600px) and (orientation: portrait) {
    .work-tab, .linkedin-tab, .behance-tab, .email-tab, .projects-tab, .youtube-tab, .foto-tab, .threed-tab, .games-tab, .note-tab, .note-tab2, .note-tab3, .jr-tab, .note-tab4{
        width: 85vw;
        height: 33rem;
        top: 45%;
        overflow: hidden;
        background-color: var(--dark-theme);
    }

    .tab-content-object, .tab-content-skills, .tab-content-contact, .tab-content-projects, .tab-content-note{
        width: 53vw;
        height:30rem;
        align-items: flex-start;
        overflow: hidden;
        overflow-y: auto;
        overflow-x: auto;
    }

    .tab-content-work{
        width: 80vw;
        height:23rem;
        padding: 2rem 0.5rem 2rem 0.5rem;
        align-items: flex-start;
        overflow: hidden;
        overflow-y: auto;
        overflow-x: auto;
    }

    .work-div{
        width: 48vw;
        padding: 2.6rem;
    }

    .resume-tab{
        width: 85vw;
        height: 17rem;
        top: 45%;
        overflow: hidden;
        background-color: var(--dark-theme);
    }

    .tab-content-resume{
        width: 70vw;
        height:10rem;
        align-items: flex-start;
    }

    .links-tab{
        width: 85vw;
        height: 15rem;
        top: 45%;
        overflow: hidden;
        background-color: var(--dark-theme);
    }

    .tab-content-instagram{
        width: 60vw;
        height:8rem;
        align-items: flex-start;
        padding: 2rem 2rem 0rem 2rem;
    }

    .tab-content-note{
        width: 70vw;
        height: 20rem;
    }

    .github-tab{
        width: 85vw;
        height: 25rem;
        top: 45%;
        overflow: hidden;
        background-color: var(--dark-theme);
    }

    .tab-content-github{
        flex-direction: column;
        width:80vw;
        align-items: flex-start;
        padding: 0.5rem;
        overflow: hidden;
        overflow-y: auto;
        overflow-x: hidden;
        height: 20rem;
    }

    .data-github{
        width: 80vw;
        height: 70rem;
        margin: 0.7rem 0;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .data-github-part{
        width: 80vw;
        height: auto;
    }

    .github-repos-container {
        overflow: visible;
    }

    .skills-tab{
        width: 85vw;
        height: 33rem;
        top: 45%;
        overflow: hidden;
        background-color: var(--dark-theme);
    }
    
    .tab-content-skills{
        width: 75vw;
    }

    .skills{
        padding: 0 0 0 1rem;
        width: 70vw;
        justify-content: center;
        align-items: center;
    }

    .skills-bar{
        width: 6rem;
    }

    .skills-bar p{
        color: var(--dark-theme);
        font-weight: 600;
    }

    .tab-content-projects{
        padding: 1rem 2.5rem;
        width: 80vw;
        height: 26rem;
    }

    .tab-content-note{
        padding: 0.5rem 2rem;
        width: 65vw;
        height: 27rem;
    }

    .tab-content-note p{
        font-size: 12px;
    }

    .tab-content-github{
        width: 50vw;
        height: 2rem;
    }

    .tab-content-object{
        width: 90vw;
        height: 30rem;
    }

    .behance-work{
        width: 75vw;
        height: 50vw;
    }

    h1{
        font-size: 23px;
    }
     
    p, b, li, ul {
         font-size: 14px;
    }

 
    h3{
         font-size: 16px;
    }

    .icons-container{
        padding: 0;
        width: 80vw;
        padding: 0.1rem;
    }

    .icon h4{
        font-size: 12px;
    }
    
    .icon img {
        width: 30vw;
        height: auto;
    }

    .modal-content2{
        height: 10rem;
        width: 70vw;
    }

    .modal{
        padding-top: 20rem;
    }

    .modal-content {
        width: 100%;
    }
}

@media only screen and (min-width: 600px) and (orientation: landscape) {
    .nav-bar{
        height: 3rem;
    }

    .nav-bar img{
        width: auto;
        height: 3rem;
    }
    
    .work-tab, .resume-tab, .linkedin-tab, .links-tab, .github-tab, .skills-tab, .behance-tab, .email-tab, .projects-tab, .youtube-tab, .foto-tab, .threed-tab, .games-tab, .note-tab, .note-tab2, .note-tab3, .jr-tab, .note-tab4{
        width: 30rem;
        height: 12rem;
        top: 40%;
        overflow: hidden;
        background-color: var(--dark-theme);
    }

    .tab-content-work{
        width: 68vw;
        height: 10rem;
    }

    .tab-content-work, .tab-content-resume, .tab-content-object, .tab-content-Instagram, .tab-content-skills{
        width: 68vw;
        height: 10rem;
        justify-content: start;
        overflow: hidden;
        overflow-y: auto;
        overflow-x: auto;
    }

    .tab-content-projects, .tab-content-note{
        width: 68vw;
        height: 4rem;
        justify-content: start;
        overflow: hidden;
        overflow-y: auto;
        overflow-x: auto;
    }

    .tab-content-github{
        flex-direction: column;
        overflow: hidden;
        overflow-y: auto;
        overflow-x: auto;
        height: 6rem;
    }

    .tab-content-contact{
        display: inherit;
        height: 4rem;
        overflow: hidden;
        overflow-y: auto;
        overflow-x: auto;
    }
    
    .data-github-part{
        width: 100%;
    }

    .tab-content-note{
        padding: 0.5rem 2rem;
        width: 65vw;
        height: 7.5rem;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .tab-content-note p{
        font-size: 12px;
    }

    .tab-content-object{
        width: 78vw;
        height: 8rem;
    }

    .behance-work{
        width: 75vw;
        height: 50vw;
    }

    
    .icons-container{
        padding: 0;
        width: 100%;
        padding: 0.1rem;
    }

    .icon h4{
        font-size: 10px;
    }
    
    .icon img {
        width: 10vw;
        height: auto;
    }
    
    .tab-icon{
        gap: 0;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (orientation: portrait) {
    .work-tab, .resume-tab, .linkedin-tab, .links-tab, .github-tab, .skills-tab, .behance-tab, .projects-tab, .note-tab3, .jr-tab, .youtube-tab, .foto-tab, .threed-tab, .games-tab, .note-tab, .note-tab2, .note-tab4{
        width: 30rem;
        height: auto;
    }

    .tab-content-work{
        height: 35rem;
    }

    .email-tab{
        width: 25rem;
        height: auto;
    }

    .github-repos-container {
        overflow: visible;
    }

    .tab-content-github{
        flex-direction: column;
        overflow: hidden;
        overflow-y: auto;
        overflow-x: hidden;
        height: 40rem;
    }
    
    .data-github{
        margin: 0.7rem 0;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    
    .data-github-part {
        height: auto;
        width: 27.3rem;
    }

    .icons-container{
        width: 16rem;
    }


    .modal{
        padding-top: 7.5rem;

    }

    .modal-content {
        width: 100%;
    }

    .project-img{
        margin-top: 15rem;
    }
}

@media only screen and (min-width: 768px) and (orientation: landscape) {
    .work-tab{
        height: 15rem;
    }
    
    .tab-content-work{
        width: 64vw;
        height: 6rem;
        padding: 2rem 1rem;
        align-items: flex-start;
    }

    .work-div{
        width: 44vw;
    }

    .projects-tab, .youtube-tab, .threed-tab, .jr-tab, .games-tab{
        height: 15rem;
    }

    .tab-content-projects{
        padding: 1rem 5rem;
        width: 40vw;
        height: 10rem;
    }

    .note-tab, .note-tab2, .note-tab3, .note-tab4{
        height: 15rem;
    }

    .tab-content-note{
        padding: 0.5rem 2rem;
        width: 50vw;
        height: 10rem;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .behance-tab{
        height: 16rem;
    }

    .tab-content-object{
        width: 60vw;
        height: 12rem;
    }

    .behance-work{
        width: 45vw;
        height: 30vw;
    }


}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (orientation: portrait) {
    .linkedin-tab, .github-tab, .behance-tab, .projects-tab, .youtube-tab, .foto-tab, .threed-tab, .games-tab, .jr-tab{
        width: 60rem;
        height: auto;
    }

    .work-tab, .note-tab, .note-tab2, .note-tab3, .note-tab4{
        width: 40rem;
        height: auto;
    }

    .email-tab{
        width: 25rem;
        height: auto;
    }

    .tab-content-work{
        height: 40rem;
    }

    .skills-tab, .links-tab, .resume-tab{
        width: 30rem;
        height: auto;
    }

    .github-repos-container {
        overflow: hidden;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .tab-content-github{
        flex-direction: row;
        height: 40rem;
    }
    
    .data-github{
        margin: 0.7rem 0;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    
    .data-github-part {
        height: auto;
        width: 27.3rem;
    }

    .icons-container{
        width: 16rem;
    }
}

@media only screen and (min-width: 992px) and (orientation: landscape) {

    .icons-container{
        padding: 0;
        width: 50vw;
        padding: 0.1rem;
    }

    .icon h4{
        font-size: 13px;
    }
    
    .icon img {
        width: 7rem;
        height: auto;
    }
    
    .tab-icon{
        gap: 0;
    }

    .work-tab{
        height: 30rem;
        width: 40rem;
    }

    .tab-content-work{
        width: 74vw;
        height: 22.5rem;
        padding: 2rem 1rem;
        align-items: flex-start;
    }

    .work-div{
        width: 52vw;
    }

    .github-tab{
        height: 30rem;
        width: 40rem;
    }

    .tab-content-github{
        width: 74vw;
        height: 25rem;
    }

    .data-github-part{
        width: 59vw;
    }

    .skills-tab{
        height: 32rem;
        width: 30rem;
    }

    .tab-content-skills{
        width: 45vw;
        height: 25rem;
    }

    .email-tab{
        height: 32rem;
        width: 40rem;
    }

    .tab-content-contact{
        width: 40vw;
        height: 25rem;
    }

    .projects-tab, .youtube-tab, .threed-tab, .jr-tab, .games-tab{
        height: 25rem;
    }

    .tab-content-projects{
        padding: 1rem 5rem;
        width: 40vw;
        height: 20rem;
    }

    .note-tab, .note-tab2, .note-tab3, .note-tab4{
        height: 15rem;
    }

    .tab-content-note{
        padding: 0.5rem 2rem;
        width: 40vw;
        height: 10rem;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .behance-tab{
        width: 40rem;
        height: 30rem;
    }

    .tab-content-object{
        width: 66vw;
        height: 27rem;
    }

    .behance-work{
        width: 45vw;
        height: 30vw;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) and (orientation: portrait) {
    .linkedin-tab, .github-tab, .behance-tab, .projects-tab, .youtube-tab, .foto-tab, .threed-tab, .games-tab, .jr-tab{
        width: 60rem;
        height: auto;
    }

    .work-tab, .note-tab, .note-tab2, .note-tab3, .note-tab4{
        width: 40rem;
        height: auto;
    }
    
    .email-tab{
        width: 25rem;
        height: auto;
    }

    .skills-tab, .links-tab, .resume-tab{
        width: 30rem;
        height: auto;
    }

    .tab-content-work{
        height: 40rem;
    }

    .github-repos-container {
        overflow: hidden;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .tab-content-github{
        flex-direction: row;
        height: 40rem;
    }
    
    .data-github{
        margin: 0.7rem 0;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    
    .data-github-part {
        height: auto;
        width: 27.3rem;
    }

    .icons-container{
        width: 16rem;
    }
}

@media only screen and (min-width: 1200px) and (orientation: landscape) {
    .icons-container{
        padding: 1rem 2rem;
        width: 16vw;
    }

    .icon h4{
        font-size: 13px;
    }
    
    .icon img {
        width: 8rem;
        height: auto;
    }
    
    .tab-icon{
        gap: 0;
    }

    .work-tab{
        height: 40rem;
        width: 63rem;
    }

    .tab-content-work{
        width: 70vw;
        height: 32.5rem;
        padding: 2rem 1rem;
        align-items: flex-start;
    }

    .work-div{
        width: 48.5vw;
    }

    .github-tab{
        height: 30rem;
        width: 40rem;
    }

    .tab-content-github{
        width: 74vw;
        height: 25rem;
    }

    .data-github-part{
        width: 42vw;
    }

    .skills-tab{
        height: 32rem;
        width: 22rem;
    }

    .tab-content-skills{
        width: 18vw;
        height: 25rem;
    }

    .email-tab{
        height: 32rem;
        width: 30rem;
    }

    .tab-content-contact{
        width: 55vw;
        height: 25rem;
    }

    .projects-tab, .youtube-tab, .threed-tab, .jr-tab, .games-tab{
        height: 25rem;
        width: 50rem;
    }

    .tab-content-projects{
        padding: 1rem 5rem;
        width: 45vw;
        height: 20rem;
    }

    .note-tab, .note-tab2, .note-tab3, .note-tab4{
        height: 20rem;
        width: 30rem;
    }

    .tab-content-note{
        padding: 0.5rem 2rem;
        width: 30vw;
        height: 10rem;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .behance-tab{
        width: 50rem;
        height: 35rem;
    }

    .tab-content-object{
        width: 45vw;
        height: 32rem;
    }

    .behance-work{
        width: 18vw;
        height: 14vw;
    }
}